:root{
  --main-color:#A6A602;
}
*{
  min-height: 0;
min-width: 0;
box-sizing: border-box;
}
.modal-form{
  border-radius:50%;
  width:min-content;
  height:min-content;
  max-height:80%;
}
.modal-form>.modal-content{
  
  padding:0;
}
.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}
      
.sidenav-trigger{
  display:none;
}
.r-i{
  max-width: 100%;
  height:auto;
}
html, body,ul,p,h1,h3,h5,input {
  margin: 0;
  padding: 0;
  border-width:0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}
h3{
  padding:3rem 0;
}
body{
  margin:0 auto;
   font-size: 16px;
   line-height:19px;
   font-family: "Roboto", sans-serif;
}
h1,h3,h5{
  text-transform: uppercase;
  font-weight:bold;
  text-align: center;
}
h1{
  font-size: 50px;
  }
  h3{
  font-size: 30px;
  }
  h5{
  font-size: 20px;
  }

.container{
  width:1200px;
  max-width:90%;
  margin:0 auto;
}
/*top-menu*/
.menu-wrapper{
    z-index: 102;
   display:flex;
   justify-content:center;
   align-items:center;
   width:100%;
   background-color: var(--main-color);
   height:36px;

}
#menu-wrap{
  display:flex;
  justify-content: space-around;
}

.menu-wrapper ul{
  list-style: none;
   min-width:750px;  
   display:flex;
   justify-content:space-between;
   align-items:center;
  
}

.menu-wrapper ul li a{
  text-decoration:none;
   color:white;
}
.button{
  cursor: pointer;
  -webkit-appearance: unset !important;
  color:white;
  background-color: #A6457C;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
 /*  text-transform:lowercase; */
  padding:1rem 2rem;
  border-radius: 30px;
}
/*banner*/
#banner-bg{
  background-image: url("../images/bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
  padding-top:40px;
}
#why{
  background-image: url("../images/bg-2.jpg");
  background-position: top center;
  background-size: 1980px 100%;
  /* height:1000px; */
}
#banner-info{
  justify-content: space-between;
  flex-wrap: wrap;
   display:flex;
   
}
/*banner-left*/

.header-left{
   justify-content: flex-start;
   
   
}
.photocard{
  max-width:550px;
  align-items:center;
  justify-content: flex-start;
  display:flex;
  flex-direction: row;
}
.divider{
  border-left: 1px solid black;
  margin:0 40px;
  height:100px;
  width:1px;
}
.text{
  display:flex;
  flex-flow: column nowrap;
  align-items:flex-start;
}
.text h1{
  white-space: nowrap;
  font-size: 30px;
  color: #801a52;
  
}
.text span{
  font-size: 5px;
}
/*banner-right*/
.header-right{
   display:flex;
   flex-direction: column;
   align-items: flex-end;
}
.info-top{
  max-width:450px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.numbers{
  margin-right:30px;
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.numbers a{
  margin:5px;
}
.btn{
  flex:1;
}
.numbers a{
  font-size: 20px;
  color:black;
  text-decoration: none;
}
.logo{
  background-image: url("../images/logo.png");
  flex-shrink: 0;
  width: 105px;
  height: 105px;
}
.info-bottom{
  max-width:450px;
  flex-flow:column nowrap;
  height:100px;
  justify-content: space-between;
  align-items: flex-end;
}
.info-bottom ul{
  list-style: none;
  display:flex;
  justify-content: flex-end;
  margin-top:20px;

}
.info-bottom ul li{
  height:40px;
  width:40px;
  margin:0 10px;
  border-radius:50%;
  /* background-color: #000; */
}
.info-bottom p{
  margin-top:15px;
  text-align: right;
}
/*banner main*/
#banner-main{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:column;
}


.rectangle-outer{
    align-items: center;
    border: 30px solid var(--main-color);
    margin-bottom:200px;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 400px;
    /* background-color: rgba(0,0,0,0.25); */
}
.rectangle-inner{
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  align-items:center;
 position: absolute;
 height:300px;
 width:100%;
}
.rectangle-inner h5{
  line-height: 1.3;
  text-transform: none;
  font-weight: 300;
}
#play-btn{
  display:flex;
  flex-flow:column nowrap;
  flex-shrink:0;
  width:90px;
  height:90px;
  border-radius:50%;
  border: 5px solid #333333;
  align-items:center;
  justify-content:center;
}
#play-btn img{
  margin-left:12%;
}
/*why section*/


.round-cards{
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap:wrap;
}
.round-card{
  height:170px;
  width:170px;
  margin:10px;
  background-color: var(--main-color);
  border-radius: 50%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.round-card p{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  height:105px;
  width:135px;
  color:black;
}
.round-container{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:30px;
  padding-bottom:30px;
}
.round-field-outer{
  width:520px;
  height:520px;
  border-radius:50%;
  flex-shrink:0;
  border: 30px solid var(--main-color);
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
}
.round-field-inner{
  width:370px;
  height:330px;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-around;
}
.round-field-inner h5{
  text-transform: none;
  word-wrap: unset;
}
.round-field-inner p{
  text-align:center;
  
}
/*round form*/
.round-form{
  height:180px;
  width:380px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  
}
.round-form input[type=text]{
  /* background-color: #E0E0E0; */
  width: 90%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.round-form input[type=text]:focus{
  background-color: white;
  border-bottom: 1px solid #A6A602 !important;
  box-shadow: 0 1px 0 0 #000;
}

.round-form .form-row{
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
}
[type="radio"]:checked + span:after{
  background-color:#801a52;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after{
  border:2px solid black;
}

.round-form a.button{
  width:320px;
}
.round-form label {
  color: #000;
}

/*rules section*/
#rules{
  background-image: url("../images/bg-5.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
}
#rules h5{
  padding:40px 0;
}
#how{
  background-image: url("../images/bg-6.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
}
.square-cards{
  display:flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap:wrap;
}
.hoverable{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hoverable:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}
.square-card{
  margin:10px 0;
  width: 240px;
  height: 240px;
  border: 20px solid var(--main-color);
  display:flex;
  align-items: center;
  justify-content: space-around;
 
}

.square-card-content{
  width:93%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.square-card-top{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height:55%;
  width:100%;/* 
  background-color: #E0E0E0; */
}
.square-card-bottom{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  height:45%;
  width:100%;
}
.square-card-bottom p{
  text-align:center;
}
/*why section*/
.cards{
  
 
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-around;
  padding:20px;
  
}
.card{
  margin:10px 0;
  flex-shrink:0;
  width:310px;
  height:300px;
  border-radius: 5px;
}

.card-top{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height:65%;
  width:100%;
}
.card-top span{
  padding-left:24px;
  padding-top: 31px;
  font-size: 30px;
  position:absolute;
  font-weight: 400;
  left:0;
  top:0;
}
.card-bottom{
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:flex-start;
  height:35%;
  width:100%;
}
.card-bottom a{
  margin-top:10px;
}
.card-bottom p{
  text-align: center;
}
/*poluchenie section*/
#poluchenie{
  background-image: url("../images/bg-7.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
}

.pol-row{
  padding:10px 0;
  margin:10px 0;
  display:flex;
  justify-content: space-around;
}
.pol-row.reverse{
  flex-flow:row-reverse nowrap;
}
.pol-card{
  margin:0 20px;
  width: 340px;
  height: 340px;
  border: 20px solid var(--main-color);
  position:relative;
}
.pol-card-content{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink:0;
  width:100%;
  height:100%;
}
.pol-card span{
  position:absolute;
  top:20px;
  left:-40px;
  padding:3px 0;
  text-transform: uppercase;
  font-size: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.pol-text{
  display:flex;
  flex-direction:column;
  flex-basis:65%;
}
.pol-text h5{
  text-align: left;
}

.pol-text p{
  display:flex;
  flex-flow:row nowrap;
  align-items: flex-start;
  font-size: 18px;
  padding:1rem 0px;
}
 /*section about*/
 #about{
  background-image: url("../images/bg-8.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
 }

 .about-row{
   display:flex;
 }
 .about-text{
   flex-basis: 70%;
 }
 .about-text p{
   padding:1rem;
 }
.about-video{
  height:350px;
  width:350px;
  background-color: #828282;
  border-radius:50%;
  display:flex;
  flex-shrink:0;
  flex-flow: row nowrap;
  align-items:flex-end;
  justify-content:flex-start;
}
.slider-for{
  margin-bottom:20px;
  width:600px;
}
.slider-for img{
  margin:0 15px;
  max-width: 100%;
  max-height:500px;
}
.slider-nav{
  width:75%;
}
.slider-nav img{
  margin:0 15px;
  max-width: 100%;
  height:150px;
}
/*houses-slider*/
.slides-big{
  height:30vw;
  margin:0 10px;
}
.slick-prev,
.slick-next{
  height: 50px !important;
  width:50px !important;
 /*  border: 3px solid var(--main-color); */
}
.slick-prev{
  left:-90px;
}
.slick-next{
  right:-90px;
}
.slides-big img{
  width:100%;
  height:100%;
}
.slides-small{
  height:30vw;
  display:flex;
  flex-flow:column;
  margin:0 10px;
}
.slides-small img{
  height:15vw;
  width:30vw;
}
.slides-small img{
  margin-bottom:10px;
}

.slick-prev:before, 
.slick-next:before {
    color: black;    
}
/*otzivi slider*/
.otzivcont{
  max-width:780px;
}
.prevArrow{
  width:60px;
  height:60px;
  border: 3px solid var(--main-color);
}
.nextArrow{
  width:60px;
  height:60px;
  border: 3px solid var(--main-color);
}
#otzivi{
  background-image: url("../images/bg-3.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
  height:970px;
}
#otzivi .slick-slide{
  display:flex;
  justify-content: space-around;

}
#otzivi .slick-track{
  display:flex;
  align-items:center;
}
.otziv{
  padding:1.5rem;
  border: 20px solid var(--main-color);
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  max-width:780px;
}

.otziv p{
  padding:1.5rem;
  text-align: center;
}
#house{
  background-image: url("../images/bg-9.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
}
#house div{

}
/*footer*/
#footer{
  padding-top:30px;
  background-image: url("../images/bg-4.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1980px 100%;
}
#footer .info-top,
#footer .info-bottom ul,
#footer .info-bottom p{
  justify-content: flex-start;
  text-align:start;
  width:unset;
}
#footer .numbers{
  align-items: flex-start;
}
#footer .container{
  display:flex;
}
#footer .info-bottom{
  flex-flow: column nowrap;
  justify-content: space-between;
  height:100px;
}
.footer-copyr{
  margin:20px 0;
 display:flex;
 flex-flow: row nowrap;
 align-items: center;
}
.footer-copyr p{
  text-align: center;
}
.rounded{
  margin:0 20px;
  width:40px;
  height:40px;
  border-radius:50%;
  border:4px solid #A6457C;
  display:flex;
  align-items:center;
  flex-shrink:0;
  font-size: 30px;
  color:#A6457C;
  font-weight:400;
  justify-content: center;
}


#footer .numbers
{
  padding:20px 0;
}
#footer .info{
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex:1;
}
.vidget{
  
  margin:0 10px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex:1;
  background-color: #828282;
}
@media screen and (max-width: 1030px){
  #banner-info,
  .header-right,
  .info-top,
  .info-bottom,
  .photocard{
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
  .text{
    align-items: center;
  }
  .numbers{
    margin-right:0;
  }
  .divider{
    display:none;
  }

}
@media screen and (max-width: 800px){
  
  body{
    margin:0 auto;
     font-size: 14px;
     line-height:16px;
     font-family: "Roboto",sans-serif;
      font-weight:400;
  }
 
  h1{
    font-size: 30px;
    line-height:35px;
    }
    h3{
    font-size: 25px;
    line-height:30px;
    }
    h5{
    font-size: 14px;
    }
  
    .menu-wrapper{
      display:none;
    }
    .sidenav-trigger{
      color:black;
      z-index:101;
      display:flex;
      justify-content:center;
      align-items: center;
      height:35px;
      width:35px;
      position:fixed;
      top:0;
      left:0;
    }
  
  .photo{
    margin:20px;
  }
  .divider{
    display:none;
  }
  .numbers{
    margin-right:0;
  }
  .header-right{
    height:225px;
  }
  .info-top,
  .info-bottom{
    height:50%;
  }
  .info-bottom ul,
  .info-bottom p{
    text-align:center;
  }
  
  .text p{
    text-align:center;
  }
  .rectangle-inner{
  }
  
  
  .pol-row,
  .pol-row.reverse{
    flex-flow:column nowrap;
    align-items:center;
    justify-content: space-between;
  }
  .pol-text p{
    font-size: 14px;
  }
  .rounded{
    zoom:80%;
  }
 
  .about-row{
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
  }
  /*sliders*/
  .otzivcont{
    max-width:100%;
  }
  .slides-big,
  .slides-small{
    height:40vw;
    margin:0 10px;
  }
  .slides-small img{
   height: 40vw;
   width: 40vw;
  }
  /*footer*/
  #foot .info{
    flex-flow:column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  #foot{
    flex-direction:column;
  }
  #foot a{
    text-align: center;
  }
}



  @media screen and (max-width: 550px){
    .modal-form{
      border-radius:unset;
    }
    .rectangle-outer{
      width:100%;
    }
    .round-field-inner{
      width:100%;
    }
    .modal-form{
      width:100%;
    }
    .round-field-outer{
      width:100%;
      border-radius:0;
      padding:5px;
      border-left-width: 0;
      border-right-width:0;
    }
    .round-form{
      width:90%;
    }
    #form-cont{
      width:100%;
    }
    .slides-big,
    .slides-small{
      height:90vw;
      margin:0 10px;
    }
    .slides-small img{
     height: 90vw;
     width: 90vw;
    }
  }
  @media screen and (max-width: 450px){
    .round-field-outer{
      width:100%;
    }
   
  }
  @media screen and (max-width: 370px){
    .rectangle-outer,
    .card,
    .pol-card{
      width:100%;
    }
  }
  @media screen and (max-width: 360px){
    body{
      zoom:90%;
    }
  }
  @media screen and (max-width: 310px){
    body{
      zoom:70%;
    }
  }
  @media screen and (max-width: 260px){
    body{
      zoom:60%;
    }
  }
  @media screen and (max-width:210px){
    body{
      zoom:50%;
    }
  }

